{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true
  },
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "import/no-extraneous-dependencies": [
      "error",
      { "optionalDependencies": false, "peerDependencies": false }
    ],
    "no-extraneous-dependencies": 0,
    "no-console": "off",
    "no-undef": "off",
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
